<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sprint Boot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
        crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <!-- header 프래그먼트가 삽입될 위치 -->
    <div layout:fragment="header"></div>
    
    <!-- navbar: 내비게이션 메뉴 -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/post/create}">포스트 작성</a>
            </li>
            <th:block sec:authorize="isAnonymous()">
                <!-- 인증되지않은 = 로그인하지 않은, 사용자인 경우에만 보여줌 -->
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/user/register}">회원 가입</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <!-- 인증된 = 로그인 한, 사용자인 경우에만 보여줌 -->
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/logout}">
                    <span>로그아웃</span>
                  </a>
                </li>
                <li class="nav-item">
                    <span sec:authentication="name" class="text-info"></span>님 반갑습니다. 
                </li>
            </th:block>
          </ul>
        </div>
      </div> <!-- class container-fluid -->
    </nav>
    
    <!-- main content 프래그먼트가 삽입될 위치 -->
    <div layout:fragment="content"></div>
    
    <!-- footer 프래그먼트가 삽입될 위치 -->
    <div layout:fragment="footer"></div>
    
</div>

<!-- Bootstrap에서 사용하는 JS -->    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
    crossorigin="anonymous"></script>
    
<!-- 직접 작성한 JS들을 삽입할 위치 -->
<th:block layout:fragment="scripts"></th:block>

</body>
</html>